.card {
  max-width: 413px;
}

.card__image {
  width: 413px;
  height: 413px;
  display: block;
  border-radius: 8px;
}

.card__title {
  max-width: 353px;
  color: #212121;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  font-family: poppins, Arial, Helvetica, sans-serif;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 12px;
}

.card__like-btn {
  background-image: url(../images/heart-dark.svg);
  opacity: 40%;
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
}

.card__like-btn:hover {
  cursor: pointer;
  opacity: 100%;
}

@media screen and (max-width: 611px) {
  .card__title {
    max-width: 265px;
    font-size: 16px;
    line-height: 1;
  }

  .card__image {
    width: 288px;
    height: 288px;
  }

  .card__like-btn {
    background-size: contain;
  }
}
