.cards {
  padding: 20px 0 40px;
  border-bottom: 1px rgba(21, 21, 21, 0.4) solid;
}

.cards__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 413px);
  justify-content: center;
  gap: 40px 20px;
}

@media screen and (max-width: 627px) {
  .cards__list {
    grid-template-columns: repeat(auto-fill, 288px);
    gap: 20px;
  }

  .cards {
    padding-bottom: 20px;
  }
}
